<!doctype html>
<html>
    <head>
        <title>Signup Page</title>
    </head>
    <body>
        <h1>Signup</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=20) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=20) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login Here</a></p>
    </body>
</html>
